# Mac OS X files
.DS_Store

# Gradle
.gradle
build/
!gradle-wrapper.jar
.gradletasknamecache

# Intellij
*.iml
.idea/*
classes

# Eclipse
/.classpath
/.project
/.settings*

# Scrolls report dir
scrolls-report/